body {
  margin: 100px 0 0;
}

div {
  height: 150px;
  width: 100%;
  background-color: crimson;
  position: relative;
}

main {
  width: 100%;
  height: 50px;
  background-color: burlywood;
  /*position: relative;*/
}
article {
  width: 100%;
  height: 20px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
